body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#selectedCity {
  font-size: 25px;
  text-align: left;
}

#dateToday {
  font-size: 15px;
  text-align: left;
}

li {
  list-style: none;
  text-align: right;
  font-size: 10px;
}
strong {
  font-size: 20px;
  text-align: left;
}

#currentBut {
  border-radius: 10px;
  margin: 0;
  background-color: darkblue;
  color: white;
  font-size: 12px;
  line-height: 12px;
  padding: 16px 24px;
  text-decoration: none;
  transition: all 200ms ease;
}
#search-city {
  margin: 0px;
  padding: 5px;
  display: inline-block;
}
#search {
  border-radius: 10px;
  margin: 0;
  background-color: darkseagreen;
  color: white;
  font-size: 12px;
  line-height: 12px;
  padding: 16px 24px;
  text-decoration: none;
  transition: all 200ms ease;
}
#tempBox {
  display: block;
  margin: auto 0px;
  padding: 5px;
}
#temp {
  font-size: 12px;
}
#gitHub {
  font-size: 10px;
  text-align: left;
}
